.mod-template{
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-template-rows: auto auto ;
    grid-template-areas: 
    "main main nav"
    "footer footer ."
    ;
    .menu {
        grid-area: nav;
    }
    .contenido{
        grid-area: main;
        .logo-contacto{
            width: 150px;
            height: 150px;
        }
        .formulario{
            form{
                justify-content: center;
                align-items: center;
                color: $color-principal;
                background-color: $color-terciario;
                padding: 30px;
            }
            h2{
                text-align: center;
                font-size: 40px;
                text-transform: uppercase;
                text-decoration: underline $color-secundario ; 
            }
            label{
                width: 20%;
                font-size: 20px;
            }
            input{
                width: 100%;
                font-size: 20px;
                background-color: transparent;
                color:  $color-principal;
                border: none;
                border-bottom: 2px solid $color-secundario;
            }
            textarea{
                font-size: 20px;
                width: 100%;
                color:$color-principal;
                border: none;
                background-color: transparent;
                height: 70px;
            }
            #enviar{
                padding: 10px;
                background-color: $color-secundario;
            }
        }
        .direccion{
            .ubicacion{
                @extend %display-flex-center;
                flex-direction: column;
                padding: 10px;
            }
        }

    }
    .pie {
        grid-area: footer;

        .contacto {
            background-color: $color-principal;
            display: flex;
            height: 100vh;

            .contacto-div-titulo {
                width: 30%;

                h2 {
                    font-size: 200px;
                    border-right: $color-terciario 2px solid;
                    border-width: 6px;
                    height: 100%;
                    color: $color-terciario;
                }
            }

            .contacto-divs {
                @include flex(flex,space-between,column,normal);
                width: 70%;

                .contacto-links {
                    ul {
                        list-style: none;
                        margin-left: 50px;
                        margin-top: 50px;
                        width: 70%;

                        li {
                            @extend %li-white;
                            &:hover{
                                border-bottom-color: $color-secundario;
                            }
                            a {
                                @include ahover(none,$color-terciario,1s,color);
                                &:hover{
                                    color: $color-secundario;
                                }
                            }
                        }
                    }
                }

                .contacto-redes {
                    @include flex(flex,space-around,normal,normal);
                    text-transform: uppercase;
                    .contacto-redes-ul1 {
                        list-style: none;
                        display: flex;

                        li {
                            padding: 8px;
                            color: $color-terciario;

                            a {
                                text-decoration: none;
                                color: $color-terciario;

                                img {
                                    height: 25px;
                                    width: 25px;
                                }
                            }
                        }
                    }

                    .contacto-redes-ul2 {
                        list-style: none;
                        display: flex;

                        li {
                            padding: 8px;
                            color: $color-terciario;
                        }

                        a {
                            text-decoration: none;
                            color: $color-terciario;

                            img {
                                height: 50px;
                                width: 50px;
                            }
                        }
                    }
                }
            }

        }
    }
}