.grid-principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header nav"
        "main main ."
        "footer footer ."
    ;
    .header{
        grid-area: header;
        height: fit-content;
        .template-standar-color {
            display: grid;
            background-color: $color-principal;
            color: $color-terciario;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "logo . . . . . . . ."
                "imagen1 imagen1 imagen1 . titulo . texto texto ."
                ". . imagen2 imagen2 imagen2 . texto texto ."
                ". . . . . . . . .";

            .template-div1 {
                grid-area: logo;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .template-div2 {
                grid-area: imagen1;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .template-div3 {
                grid-area: imagen2;

                img {
                    padding: 2px;
                    height: 100%;
                    width: 100%;
                }
            }

            .template-div4 {
                margin-left: 10px;
                display: flex;
                align-items: center;
                grid-area: texto;

                p {
                    padding: 5px;
                    text-align: center;
                }
            }

            .template-div5 {
                grid-area: titulo;
                display: flex;
                align-items: center;
            }
        }
    }
    .menu {
        grid-area: nav;
    }
    
    .contenido{
        grid-area: main;
        .precios-informacion{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 15px;
        }
    }
    .pie {
        grid-area: footer;
    }
}