@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Fira+Sans:wght@200;300;400&display=swap');

*{
padding: 0;
margin: 0;
font-family: "fira sans", serif;
font-weight: 200;
}
*::selection{
    background-color: nth($colores, 2 );
    color: nth($colores,3 );
}
/*NAV BAR TODAS LAS PAGINAS */
.menu{
    background-color: nth($colores, 2 );
    grid-area: nav;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
}
/* CLASES DE BOOTSTRAP  */
.btn-position{
    margin: 5px;
}
.color-canvas{
    background-color: nth($colores, 2 );
}
.btn-color{
    background-color:nth($colores, 1 );
    color: nth($colores,3 );
    transition-property: background-color;
    transition-duration: 0.5s;
}
.btn-color:hover{
    background-color: nth($colores, 3 );
}
.btn-color2{
    background-color: nth($colores, 1 );
    transition-property: background-color;
    transition-duration: 0.5s;
    color:nth($colores, 3 );
}
.btn-color2:hover{
    background-color:nth($colores, 2 );
}
.nav-item-style{
    border-bottom: #002e33 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    transition-property: color;
}
.nav-item-style:hover{
    color:nth($colores, 3 );
}
.cuerpo-del-acordion{
    display: flex;
    justify-content: space-evenly;
}
.div-acordion{
    text-align: center;
}
.div-acordion2{
    width: 60%;
}
.accordion-button:not(.collapsed) {
    background-color:nth($colores, 2 );
    color:nth($colores, 3 );
}
.trajeta{
    //cuando revisen esto por favor me explican porque no esta agarrando X cantidad de segundos
    transition: 1s;
}
.tarjeta:hover{
    box-shadow: -1px 10px 42px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow:-1px 10px 42px -7px rgba(0,0,0,0.75);
    -moz-boz-shadow:-1px 10px 42px -7px rgba(0,0,0,0.75);
    transform: scale(1.05);
}
.tarjeta ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 17px;
    border-bottom: #002e3357 1px solid;
}
.tarjeta img{
    width: 100% ;
    height: 100%;
}